.login-bar {
  margin-top: 5px;
}

.post-content {
  text-align: justify;
}

.post-footer-right, .post-footer-left {
  font-size: 1.5em;
  margin-top: 7px;
}

.add-comment-btn {
  margin-top: 8px;
}

.comment-title {
  margin-top: 5px;
}

.comment-header {
  font-size: 1em;
  font-family: monospace;
  color: #808080;
}

.site-footer {
  margin-bottom: 20px;
}

.username-inp, .password-inp, .email-inp {
  max-width: 300px;
}

.newpost-subject-inp, .newpost-content-inp, .editcomment-inp {
  max-width: 500px;
}

.welcome-row {
  margin-bottom: 20px;
}

.login-submit-btn, .signup-submit-btn {
  margin-bottom: 30px;
}

.newpost-cancel-btn, .editcomment-cancel-btn {
  margin: 8px auto 30px auto;
  max-width: 70px;
}
